<a href="https://colab.research.google.com/github/lfhillesheim/analise_data_sus/blob/main/notebooks/tratamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Tratamento da base de dados - Projeto Lalala**

---

<a href="https://www.instagram.com/lucas_hillesheim/" target="_blank"><img src="https://img.shields.io/badge/-Instagram-%23E4405F?style=for-the-badge&logo=instagram&logoColor=white" target="_blank"></a> <a href="https://discordapp.com/users/433435878959087635" target="_blank"><img src="https://img.shields.io/badge/Discord-7289DA?style=for-the-badge&logo=discord&logoColor=white" target="_blank"></a> <a href = "mailto:lucas.ferreira.hillesheim@gmail.com"><img src="https://img.shields.io/badge/-Gmail-%23333?style=for-the-badge&logo=gmail&logoColor=white" target="_blank"></a> <a href="https://www.linkedin.com/in/lfhillesheim/" target="_blank"><img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white" target="_blank"></a> <a href = "https://open.spotify.com/user/lucas.ferreira.hillesheim"><img src="https://img.shields.io/badge/Spotify-1ED760?&style=for-the-badge&logo=spotify&logoColor=white" target="_blank"></a> <a href = "https://twitter.com/Lucass_Lucro"><img src="https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white" target="_blank"></a> 

[![Repositório GitHub](https://img.shields.io/badge/GitHub-Lucas-orange)](https://github.com/lfhillesheim) [![Project](https://img.shields.io/badge/Repositório_Projeto-blue)](/lfhillesheim)

[![Notebook](https://img.shields.io/badge/Notebooks-grey)](https://github.com/lfhillesheim/template_data_cy/blob/main/notebooks)[![Notebook](https://img.shields.io/badge/Analise_dos_dados-blue)](https://github.com/lfhillesheim/template_data_cy/blob/main/notebooks/analise.ipynb)[![Notebook](https://img.shields.io/badge/Conclusão-gren)](https://github.com/lfhillesheim/template_data_cy/blob/main/notebooks/conclusao.ipynb)  


[![Analise](https://img.shields.io/badge/Dados_tratados-brown)](https://github.com/lfhillesheim/template_data_cy/blob/main/data/dados_tratados.csv) 

---

> Hi There, meu nome é Lucas, sou um Cientista de dados, com 21 anos, sou natural de Blumenau/SC e nesse projeto quero mostrar como tratar a base de dados e resolver o problema de... e para isso separei os dados em dois notebooks, um de tratamento e outro para anáise então segue o fio


<br>

# Sumário do Projeto:



1. [Introdução](#intro)

2. [Importações - Bibliotecas](#import-lib)

3. [Importações - Dados](#import-data)

4. [Formatando](#format)

5. [Exportação](#export)

### 1. Introdução <a name="intro"></a>

OI

## 2. Importações - Bibliotecas <a name="import-lib"></a>

In [10]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [13]:
from funcoes_datasus import correcao_monetaria_ipca

ModuleNotFoundError: ignored

## 3. Importações - Dados <a name="import-data"></a>

In [2]:
URL = 'https://raw.githubusercontent.com/lfhillesheim/analise_data_sus/main/data/dados_brutos.csv'
dados_aux = pd.read_csv(
        URL, 
        encoding="ISO-8859-1",  
        engine='python',       
        skiprows=3, 
        sep=";", 
        skipfooter = 12, 
        thousands=".",
        decimal ="," ,
        index_col=0
  ).drop('Total', axis=1)

#### DATASUS

Para saber mais sobre o [dataSUS](http://tabnet.datasus.gov.br/cgi/deftohtm.exe?sih/cnv) [acesse](http://tabnet.datasus.gov.br/cgi/deftohtm.exe?sih/cnv) 

O caminho para extração da nossa base de dados é:
```
Início >> Informações de Saúde (TABNET) >> Assistência à Saúde >> Dados Consolidados AIH (RD), por local de internação, a partir de 2008 >> Brasil por Unidade da Federeção
``` 
E os filtros
```
Linha = Região Unidade da Federação;
Coluna = Ano/Mês Processamento; 
Conteúdo = Valor Total; 
Perído = todos
```

A Base de dados você pode buscar os dados direto do O [dataSUS](http://tabnet.datasus.gov.br/cgi/deftohtm.exe?sih/cnv), mas deixei ela importada no meu repositorio no github.

##3. Formatação <a name="format"></a>

In [3]:
dados_valor_estado = dados_aux 
dados_valor_estado.head()

                                     2008  ...          2021
Região/Unidade da Federação                ...
Região Norte                 5.056240e+08  ...  3.324122e+08
.. Rondônia                  2.867831e+07  ...  4.089668e+07
.. Acre                      2.236514e+07  ...  1.763881e+07
.. Amazonas                  9.565521e+07  ...  9.255943e+07
.. Roraima                   1.098302e+07  ...  1.562991e+07

[5 rows x 14 columns]

Vemos que ta bem ruim né

In [4]:
dados_valor_estado = dados_valor_estado.replace('-', np.nan)
dados_valor_estado = dados_valor_estado.astype('float64')
dados_valor_estado = dados_valor_estado.loc[:,'2008/Jan':'2020/Dez']

In [5]:
dados_valor_estado.isnull().sum().sum()

0

In [6]:
'''Formatar os valores para ponto flutuante'''
pd.options.display.float_format = '{:.2f}'.format

'''Renomear a Coluna Unidade da Federação to UF'''
dados_valor_estado = dados_valor_estado.rename(columns={"Unidade da Federação": "UF"})

display(dados_valor_estado.head(3))
display(dados_valor_estado.tail(3))

                                    2009         2010  ...         2019         2020
Região/Unidade da Federação                            ...
Região Norte                608606418.39 636847186.47  ... 889889122.08 963910831.03
.. Rondônia                  43168433.96  51784823.62  ... 109113101.49 109162846.22
.. Acre                      27339128.19  28773343.06  ...  34709598.96  40018213.54

[3 rows x 12 columns]

                                    2009         2010  ...         2019         2020
Região/Unidade da Federação                            ...
.. Mato Grosso              134879528.76 144501072.57  ... 189645101.04 204926335.19
.. Goiás                    287960230.30 302067940.05  ... 438382657.52 471671554.20
.. Distrito Federal         165355244.61 165987601.30  ... 239866880.34 265391022.65

[3 rows x 12 columns]

*Há* um padrão nos numeros antes do Nome de cada estado, o primeiro número significa à qual Região ele pertence

In [10]:
'''Vamos criar uma coluna região, "splitando" o primeiro caracter da coluna UF e excluindo a sujeira da coluna UF;'''

dados_valor_estado.insert(0, 'regiao',  dados_valor_estado.index.str.slice(0,1) ) 
dados_valor_estado.index = dados_valor_estado.index.str.slice(3,)

'''Aqui vamos alterar o numero que sobrou para sua região correspondente'''

replace_values = { "1":"Norte","2":'Nordeste',"3":'Sudeste',"4":'Sul',"5":'Centro-oeste'}
dados_valor_estado = dados_valor_estado.replace({"regiao" : replace_values})
dados_valor_estado.tail(2)

                                regiao    2008/Jan  ...    2020/Nov    2020/Dez
Unidade da Federaï¿½ï¿½o                            ...
Goiï¿½s                   Centro-oeste 75039013.46  ... 39785408.90 37614253.55
Distrito Federal          Centro-oeste 10561085.46  ... 20668526.36 22552034.04

[2 rows x 157 columns]

In [11]:
''' a descrição dos dados das colunas contáveis da tabela ajudam bastante no entendimento, podemos usar algumas métricas especificas como mean, max e min'''

dados_valor_estado.describe()

           2008/Jan     2008/Fev  ...     2020/Nov     2020/Dez
count         27.00        27.00  ...        27.00        27.00
mean    76343108.00  23821310.52  ...  53735469.44  53772909.13
std    201153948.03  34459305.08  ...  69068920.54  68845990.27
min       808448.39    771687.83  ...    509009.74    689383.43
25%      8257222.37   7932273.51  ...  18058137.04  18157759.16
50%     16568724.64  10215956.80  ...  24312931.74  27277816.41
75%     52147797.62  26932691.98  ...  75629792.23  75298930.91
max   1038067423.15 172961999.58  ... 324599773.40 326846228.95

[8 rows x 156 columns]

In [12]:
dados_valor_estado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, Rondï¿½nia to Distrito Federal
Columns: 157 entries, regiao to 2020/Dez
dtypes: float64(156), object(1)
memory usage: 33.3+ KB

##4. Exportação <a name="export"></a>